.about-content{
	background-color:$white;
	top:0;
	transform:translateX(-110%);
	position:absolute;
	width:75%;
	box-shadow:$dropshadow;
	z-index:200;
}

.content{
	float: right;
	text-align: left;
	padding-top:100px;
	height:100vh;
	padding-left:percentage(15/320);
	padding-right:percentage(15/320);
	@media (min-width:$tablet-width){
		padding-left:percentage(2/3);
	}
	h2{
		color:$black;
		font-family: 'Architects Daughter', cursive;
		text-shadow: $dropshadow-title;
		margin-bottom: 20px;
	}

	.question{
		color:$orange;
	}
}

.project-content{
	background-color:$white;
	top:0;
	transform:translateX(-110%);
	position:absolute;
	width:75%;
	box-shadow:$dropshadow;
	z-index:200;
	height:100vh;
	overflow: auto;

	h2{
		color:$black;
		font-family: 'Architects Daughter', cursive;
		text-shadow: $dropshadow-title;
		margin-bottom: 20px;
	}
	.projects{
		padding:10px;
		float: right;
		@media (min-width:$desk-width){
			width: 650px;
		}	
	}

	.period{
		padding:10px;
		float: right;
		margin-top: 100px;
		//overflow-x: scroll;
		@media (min-width:$desk-width){
			width: 650px;
		}	
	}

	.img{
		float: right;
		width: 200px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
		background-color:$black;
		margin-right: 10px;
		margin-bottom: 10px;


		@media (min-width:$tablet-width){
			display: inline-block;
		}
	}	
}