.about-content{
	background-color:$white;
	top:0;
	transform:translateX(-110%);
	-webkit-transform:translateX(-110%);
	position:absolute;
	width:100%;
	box-shadow:$dropshadow;
	z-index:301;
	@media (min-width:$large-width){
		width:90%;
	}

	.content{
		float: right;
		text-align: left;
		padding-top:100px;
		height:100vh;
		padding-left:percentage(50/320);
		padding-right:percentage(15/320);
		@media (min-width:$tablet-width){
			padding-left:percentage(2/3);
		}
		h2{
			color:$black;
			font-family: 'Architects Daughter', cursive;
			text-shadow: $dropshadow-title;
			margin-bottom: 20px;
		}

		.question{
			color:$orange;
		}
	}
}



.project-content{
	background-color:$white;
	top:0;
	transform:translateX(-110%);
	-webkit-transform:translateX(-110%);
	position:absolute;
	width:100%;
	box-shadow:$dropshadow;
	z-index:301;
	height:100vh;
	overflow: hidden;
	@media (min-width:$large-width){
		width:90%;
	}

	h2{
		color:$black;
		font-family: 'Architects Daughter', cursive;
		text-shadow: $dropshadow-title;
		margin-bottom: 20px;

	}
	.projects{
		position:relative;
		float: right;
		overflow: hidden;
		@media (min-width:$desk-width){
			padding:10px;
			width: 650px;
		}
			
	}

	.period{
		padding:10px;
		float: right;
		margin-top: 100px;
		margin-bottom: 200px;
		
		@media (min-width:$desk-width){
			width: 650px;
		}
		// .title{
		// 	width: 100%;
		// 	display: inline-block;
		// 	float: right;
		// }
		h2{
			
			display: inline-block;
			margin-left: 60px;
			@media (min-width:$tablet-width){
				margin-left: 180px;
			}
			@media (min-width:$desk-width){
				margin-left: 0;
			}
		}
		.imgs{
			display: inline-block;
			width: 100%;
			@media (min-width:$tablet-width){
				width: 100%;
			}
			
		}

	}

	

	.m{
		display: none;
		@media (min-width:$tablet-width){
			display: inline-block;
		}
	}
	.s{
		@media (min-width:$tablet-width){
			display: none;
		}
	}
}

.paper-plane{
	position:absolute;
	right: -400px;
	top:100px;
	transform:rotate(280deg);
	-webkit-transform:rotate(280deg);
	@media (min-width:$tablet-width){
		bottom:200px;
	}
}