.overlay{
	display:none;
	position:fixed;
	z-index:1000;
	background-color:$black;
	height:100vh;
	width:100%;

	.close{
		color: $white;
		position: absolute;
		top:10px;
		right: 10px;
		margin-bottom: 20px;
		cursor: pointer;
		@media (min-width:$tablet-width){
			right: 10px;
		}
		@media (min-width:$desk-width){
			right: 10px;
		}
		@media (min-width:$large-width){
			right: 10%;
		}
	}
	.content{
		// margin-left:auto;
		// margin-right:auto;

		overflow-y: auto;
		margin-top:50px;
		padding: 10px;
		background-color:$white;
		width: 100%;
		.slider{
			margin-left:auto;
			margin-right:auto;
			width: 100%;
			overflow: hidden;
			.gallary{
				width: 100%;
				display: inline-block;
				height: 400px;
				position: relative;
				@media (min-width:$tablet-width){
					height: 500px;				
				}
					
				.img{
					position: absolute;
					@media (min-width:$tablet-width){
						width: 930px;
						height: 500px;
					}
					width: 330px;
					height: 400px;
					background-color:transparent;
				}
			}
		}
	}
}