.nav{
	position:fixed;
	z-index:201;
	width:100%;
	margin-top: -50px;
	display:inline-block;
	@media (min-width:$tablet-width){
		margin-top: -40px;
	}

	.home{
		font-size: 32px;
		padding-top:25px;
		font-family: 'Slackey', cursive;
		margin: 0;
		line-height: 1;
		text-shadow: $dropshadow-home;
		display: inline-block;
	}

	.nav-item{
		transform:translateY(-50%);
		margin-top: 20px;
		float: right;
		ul{
			list-style-type: none;
			margin:0;
			padding:0;
			li{
				position:absolute;
				top:0;
				right: 10px;
				text-align: left;
				padding:5px 0;
				transform:translateY(-500%);
				opacity: 0;
				&.move-in{
					transform:translateY(0);
				}
				@media (min-width:$tablet-width){
						right:20px;
					}
				a{
					padding:0 5px;
					font-size:20px;
					color:$black;
					font-family: 'Architects Daughter', cursive;
					border-bottom: 3px solid $white;

					@media (min-width:$tablet-width){
						padding:0 20px;
					}
				}
			}
		}
	}

	.lights{
		padding:10px;
		text-align: center;
		display: inline-block;
		
		@media (min-width:$tablet-width){
			margin-left: 50px;
		}

		.light{
			padding:0 10px;
			float: right;
			cursor: pointer;
			display: inline-block;
			transform: translateY(-200%);
			opacity: 0;
			transition: all ease .3s;
			@media (min-width:$tablet-width){
				margin-left: 50px;
			}

			
			p{
				margin: 0;
			}
			&.active{
				transform: translateY(0%);
				opacity: 1;
				transition: all ease .3s;
			}	
		}

		img{
			width: 50px;
		}		
	}
}

