.nav{
	position:fixed;
	z-index:201;
	width:100%;
	
	display:inline-block;
	@media (min-width:$tablet-width){
		padding-top:20px;
	}

	.home{
		font-size: 32px;
		padding-top:25px;
		font-family: 'Slackey', cursive;
		margin: 0;
		line-height: 1;
		text-shadow: $dropshadow-home;
		display: inline-block;
		// @media (min-width:$desk-width){
		// 	position:absolute;
		// 	left:50%;
		// }
	}

	.nav-item{
		// display: none;
		transform:translateY(-50%);
		margin-top: 20px;
		float: right;
		ul{
			list-style-type: none;
			margin:0;
			padding:0;
			li{
				position:absolute;
				top:0;
				right: 10px;
				text-align: left;
				padding:5px 0;
				transform:translateY(-500%);
				opacity: 0;
				&.move-in{
					transform:translateY(0);
				}
				@media (min-width:$tablet-width){
						right:20px;
					}
				// -ms-transform: rotate(-15deg); /* IE 9 */
		  //   	-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
		  //   	transform: rotate(-15deg);
				a{
					padding:0 5px;
					font-size:20px;
					color:$black;
					font-family: 'Architects Daughter', cursive;
					border-bottom: 3px solid $white;

					@media (min-width:$tablet-width){
						padding:0 20px;
					}
				}
			}
		}
	}

	.lights{
		padding:10px;
		text-align: center;
		display: inline-block;
		transform: translateY(-200%);
		@media (min-width:$desk-width){
			width: 650px;
		}

		.light{
			padding:0 10px;
			float: right;
			cursor: pointer;
			display: inline-block;
			p{
				margin: 0;
			}
		}
		img{
			width: 50px;
		}

		&.active{
			transform: translateY(0%);
		}
	}
}

